<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>ユーザ管理</title>
 <link rel="stylesheet" href="/css/default.css" />
 <style>
   body {
     margin-left: 5%;
     margin-right: 5%;
   }
   th {
     background-color: whitesmoke;
   }
   table {
     width:80%;
   }
 </style>
</head>

<body>
 <h1>ユーザ管理<span style="font-size:18pt;"> ((*userc*))</span></h1>
 <div class="menu">
  <a href="/">HOME</a>&nbsp;|&nbsp;<a href="/cgi-bin/Users/add_new.cgi">新規ユーザ</a>&nbsp;|&nbsp;
  <a href="/cgi-bin/Users/update_password.cgi">パスワード更新</a>&nbsp;|&nbsp;
  <a href="/cgi-bin/Users/modify_info.cgi">ユーザ情報変更</a>&nbsp;|&nbsp;
  <a href="/cgi-bin/Users/set_expired.cgi">ユーザ無効化</a>&nbsp;|&nbsp;
  <a href="/cgi-bin/Users/Logout.cgi">ログアウト</a>
 </div>
 <br />
(*table*)
 <p>&nbsp;</p>
 <p style="text-align:center;"><a href="#top">TOP</a></p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
</body>
</html>
