<!DOCTYPE html>
<html lang="ja_jp">
<head>
<meta charset="utf-8" />
<title>表示設定</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
 table, td {
   border-width: 0px;
   font-size: 12pt;
 }
</style>
</head>

<body>
<h1>表示設定</h1>
<div class="menubar">
  <a href="/">HOME</a>&nbsp;/&nbsp;
  <a href="index.cgi">もどる</a>
</div>
<br />
<form method="POST" action="index.cgi">
 <table>
  <tr><td>隠しファイル</td><td><label><input type="checkbox" name="hiddenfile" (*hiddenfile*) value="hide" /> 表示しない</label></td></tr>
  <tr><td>表示順</td><td>
   <select name="orderby" style="width:120px;height:25px;">
     <option value="name" (*name*)>名前</option>
     <option value="size" (*size*)>サイズ</option>
     <option value="time" (*time*)>日時</option>
     <option value="id" (*id*)>番号 (id)</option>
   </select>
  </td></tr>
  <tr><td>並び順</td><td><label><input type="radio" name="reverse" value="desc" (*desc*) /> 降順</label><br />
  <label><input type="radio" name="reverse" value="asc" (*asc*) /> 昇順</label></td></tr>
  <tr><td style="margin-top:10px;text-align:center;"><input type="submit" name="btn_filter" value=" 表示する " /></td><td></td></tr>
 </table>
 <input type="hidden" name="current_folder" value="(*current_folder*)" />
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
