<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<title>Filerpy</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
.content {
  margin-left:5%;
  margin-right:5%;
  padding:8px;
}
</style>
<script src="/js/jquery.min.js"></script>
<script>
$(function() {
  $("select[name='places']").change(function(){
    place = $("select[name='places']").val();
    location.href = "index.cgi?place=" + place;
  });
  $("#transfer").click(function() {
    folder = $("input[name='folder']").val().trim();
    location.href = "index.cgi?folder=" + folder;
  });
});


function push(path) {
  var stack = localStorage.getItem("stack")
  if (typeof stack == 'undefined' || stack == null) {
    stack = path
  }
  else {
    stack += (":" + path)
  }
  localStorage.setItem("stack", stack);
}
</script>
</head>

<body>
<h1>(*title*)</h1>
<div class="menubar">
 <div style="display:inline-block;">
  <a href="/">HOME</a>&nbsp;/&nbsp;
  <a href="javascript:location.reload();">Reload</a>&nbsp;/&nbsp;
  <a href="index.cgi?folder=..">上のディレクトリ</a>&nbsp;/&nbsp;
  <a href="filter.cgi">表示設定</a>&nbsp;/&nbsp;
  <a href="pathmemo.cgi" target="_blank">記憶パス一覧</a>
 </div>
 <form style="margin-left:5%;display:inline-block;">
   <label>場所 <select name="places">(*places*)</select></label>&nbsp;
   <label>フォルダ <input type="text" name="folder" value="(*folder*)" /></label>&nbsp;
   <input type="button" id="transfer" value=" 移動 "/ >
 </form>
</div>
<h3>(*folder*)</h3>
<div class="content">
(*content*)
</div>
<br />
<div class="message">
(*message*)
</div>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
