<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<title>Path list</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
#pathlist {
  margin-left:15%;
  list-style-type:square;
  font-size:11pt;
  margin-top: 38px;
}
</style>
<script src="/js/jquery.min.js"></script>
<script>
$(function() {
  print_items();
});

function clear() {
  localStorage.setItem('stack', '');
  print_items();
}

function pop() {
  var stack = localStorage.getItem('stack');
  var items = stack.split(':');
  if (items.length > 1) {
    items1 = items.slice(0, items.length - 1);
    stack1 = items1.join(':');
    localStorage.setItem('stack', stack1);
  }
  else {
    localStorage.setItem('stack', '');
  }
  print_items();
}

function print_items() {
  var stack = localStorage.getItem('stack');
  if (typeof stack == 'undefined' || stack == '') {
    $('#message').text('No paths memoried.');
    $('#pathlist').text('');
  }
  else {
    var stack = localStorage.getItem('stack');
    var items = stack.split(':');
    var list = "";
    for (let i = 2; i <= items.length; i++) {
      list += "<li>" + items[i - 1] + "</li>";
    }
    $('#message').text('');
    $('#pathlist').html(list);
  }
}
</script>
</head>


<body>
<h1>記憶パス一覧</h1>
<div class="menubar">
 <a href="/">ホーム</a>&nbsp;/&nbsp;
 <a href="javascript:window.close();">閉じる</a>&nbsp;/&nbsp;
 <a href="javascript:clear();">一覧をクリア</a>&nbsp;/&nbsp;
 <a href="javascript:pop();">項目を１つ削除</a>
</div>
<ul id="pathlist">
</ul>
<div class="message">
</div>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
