<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>BINDATA バイナリファイル</title>
 <link rel="stylesheet" href="/css/default.css" />
</head>

<body>
<h1>BINDATA バイナリファイル</h1>
<div>
<div style="margin-left:5%;padding:4px;display:inline-block;">
 <a href="/">HOME</a>&nbsp;/&nbsp;
 <a href="index.cgi?order=1">逆順で表示する</a>&nbsp;/&nbsp;
 <a href="index.cgi?view=(*view*)">アイコン・詳細表示</a>&nbsp;/&nbsp;
 <a href="showHtml.cgi?html=bindata_help.html" target="_blank">ヘルプを表示する。</a>&nbsp;/&nbsp;
 <a href="index.cgi?id=first">先頭</a>&nbsp;
 <a href="index.cgi?id=prev">前</a>&nbsp;
 <a href="index.cgi?id=next">次</a>&nbsp;
 <a href="index.cgi?id=last">最後</a>&nbsp;/&nbsp;
</div>
 <form style="display:inline-block;">
  <label>id&nbsp;<input type="text" name="id" id="id" size="8" /></label>&nbsp;
  <input type="submit" name="submit" value="セット" />
 </form>
</div>
<br />
<div class="menubar">
   <a href="index.cgi">すべて</a>&nbsp;/&nbsp;
   <a href="index.cgi?filter=image">画像ファイル</a>&nbsp;/&nbsp;
   <a href="index.cgi?filter=audio">音声ファイル</a>&nbsp;/&nbsp;
   <a href="index.cgi?filter=zip">圧縮ファイル</a>
</div>
<p class="message">※ データの挿入や更新はコマンドで行う。詳細はヘルプを参照。</p>
<br />
<table id="table1" style="margin-left:4%;margin-right:4%;">
 (*content*)
</table>
(*images*)
<br />


<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
