<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>BINDATA バイナリファイル</title>
 <link rel="stylesheet" href="/css/default.css" />
</head>

<body>
<h1>BINDATA バイナリファイル</h1>
<div style="text-align:center;padding:4px;">
 <a href="/">HOME</a>&nbsp;/&nbsp;
 <a href="index.cgi?order=1">逆順で表示する</a>&nbsp;/&nbsp;
 <a href="#images">画像一覧(画像ファイル指定のときのみ)</a>&nbsp;/&nbsp;
 <a href="showHtml.cgi?html=bindata_help.html" target="_blank">ヘルプを表示する。</a>
</div>
<br />
<div class="menubar">
   <a href="index.cgi">すべて</a>&nbsp;/&nbsp;
   <a href="index.cgi?filter=image">画像ファイル</a>&nbsp;/&nbsp;
   <a href="index.cgi?filter=audio">音声ファイル</a>&nbsp;/&nbsp;
   <a href="index.cgi?filter=zip">圧縮ファイル</a>
</div>
<p class="message">※ データの挿入や更新はコマンドで行う。詳細はヘルプを参照。</p>
<br />
<table style="margin-left:10%;">
 <tr><th>id</th><th>タイトル</th><th>オリジナルファイル</th><th>ファイルタイプ</th><th>情報</th><th>サイズ</th></tr>
 (*content*)
</table>
<p>&nbsp;</p>
<a id="images"></a>
<ul style="display:inline;">
(*images*)
</ul>
<br />


<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
