<!doctype html>
<html lang="ja_jp">
<head>
<meta charset="utf-8" />
<title>MySQL-IS update</title>
<link rel="stylesheet" href="/css/style.css" />
<style>
td {
  padding:3px;
  font-size:10pt;
}
.form_row {
  padding:5px;
}
input[type="submit"] {
  border-radius: 4px;
  background-color: lime;
  height: 32px;
}
input[type="button"] {
  border-radius: 4px;
  background-color: yellow;
  height: 32px;
}
.message {
  text-align:center;
  font-size:14pt;
  color:magenta;
}
input[type="text"] {
  border-radius: 4px;
  height: 25px;
}
</style>

<script src="/js/jquery.min.js"></script>
<script>
  // ヘルプの表示・非表示
  function showhelp() {
    vis = ($('#help').css('visibility') == 'visible');
    if (vis) {
      $('#help').css('visibility', 'hidden');
      $('#linkhelp').text('ヘルプを表示する。');
    }
    else {
      $('#help').css('visibility', 'visible');
      $('#linkhelp').text('ヘルプを表示しない。');
    }
  }
</script>
</head>

<body>
<div style="margin-left:5%;margin-right:5%;">
<h1><span style="color:blue;">MySQL-IS update</span> <span style="font-size: 18pt">by Python3</span></h1>
<div class="menubar">
  <a href="/">HOME</a>&nbsp;/&nbsp;
  <a href="index.cgi">もどる</a>
</div>
<br />
<form method="POST" style="margin-left:10%">
  <div class="form_row">
    <label>対象テーブル<br /><select name="table" style="width:200px;height:30px;">(*tables*)</select></label>
  </div>
  <div class="form_row">
    <label>更新するフィールドと値のリスト<br />
    <input type="text" name="fields" size="80" placeholder="FIELD1=VALUE1" /></label>
  </div>
  <div class="form_row">
    <label>更新条件<br /><input type="text" name="criteria" size="50" placeholder="PK=n" /></label>
  </div>
  <div class="form_row">
    <input type="submit" name="submit" value=" 更新 " />
  </div>
</form>
<br />
<p>&nbsp;</p>
<div class="help" id="help">
<h3>ヘルプ</h3>
<ul>
<li>更新するフィールドには、複数のフィールドを書くことができます。(例) field1=0,field2='ABC'</li>
<li>更新条件を空欄にすることはできません。特定のレコードのみを更新する場合は、主キーの値を指定します。</li>
</ul>
</div>
<br />
<p class="message">(*message*)</p>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</html>
