<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>Pictures v3.0</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
 td {
   padding:3px;
   font-size:11pt;
 }
</style>
</head>

<body style="margin-left:5%;margin-right:5%">
<h1 style="text-align:center;padding:10px;"><span style="color:blue;">Pictures</span><span style="color:darkslateblue;font-size:20pt;"> (*version*)</span><br /><span style="font-size:14pt;">by Python3</span></h1>
<p style="display:inline;border:dotted thin silver;padding:5px;">
  <a href="/"><img src="/img/home.png" /> HOME</a>&nbsp;/&nbsp;
  <a href="index.cgi"><img src="/img/first.svg"/ > 表示リセット</a>&nbsp;/&nbsp;
  <a href="modify.cgi"><img src="/img/pencil.png" /> 追加・修正ページ</a>&nbsp;/&nbsp;
  <a href="creators.cgi">作者一覧</a>&nbsp;/&nbsp;
  <a href="filter.cgi">ワードフィルタ設定</a>&nbsp;/&nbsp;
  <a href="index.cgi?fav=yes">お気に入り</a>&nbsp;/&nbsp;
  <a href="mark.cgi">マーク種別指定</a>&nbsp;/&nbsp;
  <a href="query.cgi">詳細検索</a>&nbsp;/&nbsp;
  <a href="index.cgi?view=(*view*)">アイコン・詳細表示</a>&nbsp;/&nbsp;
  <a href="index.cgi?dir=prev&id=(*prev*)"><img src="/img/prev.svg"> 前</a>&nbsp;|&nbsp;<a href="index.cgi?dir=next&id=(*next*)">次 <img src="/img/next.svg" /></a>
  <form style="display:inline;border:dotted thin silver;padding:5px;">
    <label> 並び　<input type="radio" name="orderby" value="ASC" (*ASCchecked*) />昇順</label>
    <label>　<input type="radio" name="orderby" value="DESC" (*DESCchecked*) />降順</label>
    <label>　先頭のid&nbsp;<input type="text" name="start_id" size="6"  value="(*start_id*)" style="border-radius:4px;" /></label>
    <label>　<input type="submit" name="btnOrder" value="セット"  style="border-radius:4px;" /></label>
  </form>
</p>
<div style="text-align:center;color:indianred;">(*tableInfo*)</div>
<div style="text-align:center;color:crimson;">(*filter*)</div>
<br />
<table style="width:95%">
(*result*)
</table>
(*images*)
<br />
<p style="text-align:center;color:magenta;">
(*message*)
</p>
<p style="text-align:center;"><a href="#top">TOP</a>&nbsp;/&nbsp;<a href="index.cgi?dir=prev&id=(*prev*)"><img src="/img/prev.svg" /> 前</a>&nbsp;|&nbsp;<a href="index.cgi?dir=next&id=(*next*)">次 <img src="/img/next.svg" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
