<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>MySQL Pictures テーブル</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
 table, td, th {
   border-width:0px;
 }

 input[type="submit"] {
   background-color:lime;
   border-radius:4px;
   height:32px;
 }

 input[type="button"] {
   background-color:yellow;
   border-radius:4px;
   height:32px;
 }

 input[type="text"] {
   border-radius:4px;
   height:22px;
 }
</style>
<script src ="/js/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $('#btnClear').click(function() {
    $('input[name="id"]').val("");
    $('input[name="title"]').val("");
    $('input[name="creator"]').val("");
    $('input[name="path"]').val("");
    $('input[name="mark"]').val("");
    $('input[name="info"]').val("");
    $('input[name="fav"]').val("0");
    $('input[name="count"]').val("0");
    $('input[name="bindata"]').val("");
  });
});
</script>
</head>

<body style="margin-left:5%;margin-right:5%">
<h1 style="text-align:center;color:darkslateblue;padding:10px;">MySQL Pictures テーブルの追加・修正</h1>
<p style="margin-left:10%;"><a href="/">HOME</a>&nbsp;/&nbsp;<a href="index.cgi">データの一覧表示</a></p>
<br />
<p style="text-align:center;"><u>使用方法</u></p>
<ul style="font-size:smaller;margin-left:10%;">
<li>id が空欄の場合、「追加・修正」ボタンをクリックすると、データが Pictures テーブルに追加され
ます。</li>
<li>id が空欄でないの場合、「追加・修正」ボタンをクリックすると、フォームのデータにより id で指定されるデータが更新されます。</li>
<li>id が空欄の場合、「データ確認」ボタンをクリックすると、最大の id をもつデータがフォームに表示されます。</li>
<li>id が空欄でない場合、「データ確認」ボタンをクリックすると、その id で指定されるデータがフォームに表示されます。</li>
</ul>
<br />


<form method="POST">
<table>
<tr><td>番号 (id) </td><td><input type="text" name="id"  value='(*id*)' /></td></tr>
<tr><td>作品名 (title)</td><td><input type="text" name="title" size="80" value='(*title*)' /></td></tr>
<tr><td>作者 (creator)</td><td><input type="text" name="creator" size="50" value='(*creator*)' /></td></tr>
<tr><td>場所 (path)</td><td><input type="text" name="path" size="120"  value='(*path*)' /></td></tr>
<tr><td>分類マーク (mark)</td><td><input type="text" name="mark" size="10" value='(*mark*)' /></td></tr>
<tr><td>情報 (info)</td><td><input type="text" name="info" size="120" value='(*info*)' /></td></tr>
<tr><td>お気に入り (fav)</td><td><input type="text" name="fav" size="4" value='(*fav*)' /></td></tr>
<tr><td>再生回数 (count)</td><td><input type="text" name="count" size="10" value='(*count*)' /></td></tr>
<tr><td>画像リンク (bindata)</td><td><input type="text" name="bindata" size="10" value='(*bindata*)' /></td></tr>
<tr><td></td><td><input type="submit" value="追加・修正" name="btnAdd" />　<input type="submit" value="データ確認" name="btnQuery" />　<input type="button" id="btnClear" value="クリア" /></td></tr>
</table>
</form>
<br />
<p style="text-align:center;color:magenta;">
(*message*)
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
