<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>(*title*) スライド</title>
<link rel="stylesheet" href="/css/default.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script>
function adjustWidth() {
   $("img").css("width", "100%");
}
</script>
<style>
table, th, td {
  border-width: 0px;
}

.message {
  text-align:center;
  color:magenta;
}

</style>
</head>

<body>
<h1 style="text-align:center;color:darkslateblue;padding:10px;">(*title*)</h1>
<p style="margin-left:10%;"><a href="/">HOME</a>&nbsp;/&nbsp;
<a href="index.cgi">もどる</a>&nbsp;/&nbsp;
<a href="javascript:window.close();">閉じる</a>&nbsp;/&nbsp;
<a href="slideview.cgi?folder=(*folder*)&slide=first">最初</a>&nbsp;
<a href="slideview.cgi?folder=(*folder*)&slide=prev">前</a>&nbsp;
<a href="slideview.cgi?folder=(*folder*)&slide=next">次</a>&nbsp;
<a href="slideview.cgi?folder=(*folder*)&slide=last">最後</a>&nbsp;/&nbsp;
<a href="slideview.cgi?width=toggle&folder=(*folder*)&slide=current">画像の幅をブラウザに合わせる</a>&nbsp;/&nbsp;
<a href="getImage.cgi?path=(*path*)" target="_blank">画像のみを表示</a>
<br />
<h3>(*filename*)</h3>
<p class="message">(*message*)</p>
<div style="margin-left:2%;">
<a href="slideview.cgi?folder=(*folder*)&slide=next">(*picture*)</a>
</div>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
