<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>(*title1*) サムネイル</title>
<link rel="stylesheet" href="/css/style.css" />
<style>
table, th, td {
  border-width: 0px;
}

.message {
  text-align:center;
  color:magenta;
}

</style>
</head>

<body>
<h1 style="text-align:center;color:darkslateblue;padding:10px;">(*title*)</h1>
<p style="margin-left:10%;"><a href="/"><img src="/img/home.png" /> HOME</a>&nbsp;/&nbsp;
<a href="index.cgi"><img src="/img/tv_dark.png" /> TOPページ</a>&nbsp;/&nbsp;
<a href="javascript:window.close();">閉じる</a>&nbsp;/&nbsp;
<a href="listpics.cgi?id=(*id*)">画像一覧表示</a>&nbsp;/&nbsp;
<br />
<h3>(*folder*)</h3>
<p class="message">(*message*)</p>
<div style="margin-left:2%;">
(*pictures*)
</div>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
