<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery.min.js"></script>
    <style>
      table {
        margin-left:auto;
        margin-right:auto;
      }
    </style>
    <script>
      $(() => {
        /* アルバムグループの選択 */
        $("#groupname").change(() => {
          let v = $("#groupname").val();
          if (v.startsWith("----")) {
            return;
          }
          else {
            location.href = "/groupname?name=" + v + "&mark=video";
          }
        });
      })
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="menu">
        <a href="javascript:window.close()"><img src="/img/close2.png" /> 閉じる</a>&nbsp;/&nbsp;
        <a href="javascript:location.reload()"><img src="/img/refresh2.png"> 最新の状態を表示</a>&nbsp;/&nbsp;
        <a href="/video/modify_video" target="_blank"><img src="/img/form.png" /> ビデオファイルの追加・修正</a>&nbsp;
    </div>
    <br />
    <p class="message"><%= message %></p>
    <table>
        <tr><th>id</th><th>タイトル</th><th>パス</th><th>作者</th><th>シリーズ</th><th>種別</th><th>情報</th><th>好き</th><th>参照数</th><th>イメージリンク</th></tr>
        <% for (let row of results) { %>
            <tr>
            <% for (let i = 0; i < row.length; i++) { %>
                <td><%- row[i] %></td>
            <% } %>
            </tr>
        <% } %>
    </table>

    <p>&nbsp;</p>
    <p style="text-align:center;"><a href="#">TOP</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

  </body>
  </html>
