<!doctype html>
<html>
<head>
 <meta charset="utf8" />
 <title>YJFX</title>
 <link rel="stylesheet" href="/css/default.css" />
 <link rel="stylesheet" href="/js/jqplot/jquery.jqplot.min.css" />
 <script src="/js/jqplot/jquery.min.js"></script>
 <script src="/js/jqplot/jquery.jqplot.min.js"></script>
 <style>

 </style>
 <script>
  $(document).ready(function() {
    // $.jqplot('chartdiv',  [[[1, 2],[3,5.12],[5,13.1],[7,33.6],[9,85.9],[11,219.9]]]);
    $.jqplot('chartdiv', (*data*));
  });
 </script>
</head>

<body>
 <h1>YJFX 資産グラフ</h1>
 <div style="text-align:center;"><a href="/cgi/index.html">CGI Index</a>&nbsp;/&nbsp;<a href="index.cgi">もどる</a></div>
 <br />

 <div id="chartdiv" style="height:400px;width:800px;margin-left:10%; "></div>
 <br />
 <p style="text-align:center;">縦軸の単位は千円。期間(横軸)は (*begin*) ～ (*end*)</p>
</body>
</html>
