<!doctype html>
<html>
<head>
 <meta charset="utf8" />
 <title>YJFX (資産管理)</title>
 <link rel="stylesheet" href="/css/default.css" />
 <style>
   form {
     margin-left:10%;
     margin-bottom:20px;
     padding:10px;
   }
   button {
     height:32px;
     background-color:lime;
     border-radius:4px;
   }
   input[type="text"] {
     border-radius:4px;
     height:25px;
   }
 </style>
</head>

<body style="margin-left:5%;margin-right:5%;">
 <h1>YJFX (資産管理)</h1>
 <div class="menubar"><a href="/">HOME</a>&nbsp;/&nbsp;<a href="index2.cgi">取引管理</a>&nbsp;/&nbsp;<a href="asset_plot.cgi">資産グラフ</a>&nbsp;/&nbsp;<a href="insert.cgi">資産入力・修正</a>&nbsp;/&nbsp;<a href="load_settle.cgi">決済データ読み込み</a></div>
 <br />
 <div style="text-align:center;">
  <div style="display:inline-block;"><a href="index.cgi?id=last">最後</a>&nbsp;/&nbsp;<a href="index.cgi?id=prev">もどる</a>&nbsp;/&nbsp;<a href="index.cgi?id=next">進む</a>&nbsp;/&nbsp;<a href="index.cgi?id=first">最初</a></div>
  <form style="display:inline-block;">id <input type="text" name="id" id="id" size="6" />&nbsp;<input type="submit" name="submit" value="表示" /></form>
 </div>
 <br />
 <p class="message">(*message*)</p>
 <br />
 <table style="margin-left:auto;margin-right:auto;width:60%;">
  <tr><th>ID</th><th>日付</th><th>資産</th><th>損益</th><th>資産+損益</th></tr>
  (*asset*)
 </table>
 <br />
 <p>&nbsp;</p>
 <p style="text-align:center;"><a href="#top">TOP</a></p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
</body>
</html>
