<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>WIKI Top</title>
 <link rel="stylesheet" href="/css/default.css" />
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <style>

 </style>
 <script>
  $(()=>{
    $("#button_search").click(()=>{
      location.href = "index.cgi?word=" + $("word").val();
    });
  });
 </script>
</head>

<body>
 <h1><img src="/img/img_17.jpg" /> WIKI TOP</h1>
 <div class="menubar"><a href="/"><img src="/img/home.png" /> HOME</a> / 
   <a href="addNew.cgi">新規投稿</a> / 
   記事検索 <input type="text" id="word" size="20" /> <input type="button" id="button_search" value="検索" /></div>
 <div class="section">
   <p class="message">(*message*)</p>
   <table style="width:90%;">
     <tr><th>番号(id)</th><th>タイトル</th><th>投稿者</th><th>日付</th><th>備考</th><th>版数</th><th>文書種別</th></tr>
   (*content_list*)
   </table>
 </div>
 <!-- 本体終わり -->
 <p>&nbsp;</p>
 <p style="text-align:center;"><a href="#top">TOP</a></p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 </body>
 </html>
