<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>(*title*)</title>
 <link rel="stylesheet" href="/css/default.css" />
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <style>
   pre {
     border: solid thin gray;
     padding: 6px;
     font-size: 10pt;
     background-color: white-smoke;
     border-radius:6px;
     box-shadow:0px 0px 6px 3px #2795ec;
   }
   
   .prop {
      text-align:center;
      color: navy;
   }
   
   .default {
     color: initial;
     text-align:initial;
     font-size: initial;
     border-width: initial;
     border-color: initial;
     font-size: initial;
     padding: initial;
     margin: initial;
   }
 </style>
 <script>

 </script>
</head>

<body>
 <h1><img src="/img/img_17.jpg" /> (*title*)</h1>
 <div class="menubar"><a href="/"><img src="/img/home.png" /> HOME</a> / 
   <a href="index.cgi">記事一覧へもどる</a> / 
   <a href="addNew.cgi">新規投稿</a>
 </div>
 <div class="section">
   <p class="message">(*message*)</p>
   <div>(*prop*)</div>
   <pre>(*content*)</pre>
 </div>
 <p>&nbsp;</p>
 <p style="text-align:center;"><a href="#top">TOP</a></p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 </body>
 </html>
 
