<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>Jura_Zakki</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.min.js"></script>
        <script>
            $(() => {
                $("#btnClear").click(() => {
                    $("input[type='text']").val('');
                    $("input[name='id']").val('');
                });

                $("#btnConfirm").click(() => {
                    let id = $("input[name='id']").val();
                    if (id == "") {
                        alert("エラー： id が空欄です。");
                        return;
                    }
                    location.href = "/cgi-bin/Jura_Zakki/modify.cgi?confirm=" + id;
                });
            })
        </script>
        <style>
            .form-row {
                margin-top:5px;
                margin-bottom:5px;
            }
        </style>
    </head>

    <body>
        <!-- ヘッダー -->
        <header>
            <h1>Jura Zakki: 記事の追加・修正</h1>
        </header>

        <!-- メニュー -->
        <nav class="menu">
            <a href="/">HOME</a>&nbsp;/&nbsp;<a href="index.cgi">記事一覧</a>
        </nav>

        <!-- フォーム -->
        <form style="margin-top: 40px;margin-left:5%;" method="POST" action="/cgi-bin/Jura_Zakki/modify.cgi">
            <p class="message">(*message*)</p>

            <div class="form-row">
                <div>id</div>
                <div><input type="number" name="id" size="12" value="(*id*)"/></div>
            </div>
            <div class="form-row">
                <div>タイトル</div>
                <div><input type="text" name="title" size="150" value="(*title*)" /></div>
            </div>
            <div class="form-row">
                <div>URL</div>
                <div><input type="text" name="path" size="200" value="(*path*)" /></div>
            </div>
            <div class="form-row">
                <div>分類</div>
                <div><input type="text" name="category" size="30" value="(*category*)" /></div>
            </div>
            <div class="form-row">
                <div>タグ</div>
                <div><input type="text" name="tag" size="30" value="(*tag*)" /></div>
            </div>
            <div class="form-row">
                <div>投稿日</div>
                <div><input type="text" name="addate" size="20" value="(*addate*)" placeholder="YYYY-MM-DD"/></div>
            </div>
            <div style="margin-top:30px;">
                <div></div>
                <div><input type="submit" value=" 送信 " />&nbsp;<input type="button" id="btnConfirm" value=" データ確認 " />&nbsp;<input type="button" id="btnClear" value=" クリア " /></div>
            </div>
        </form>


        <!-- フッター -->
        <footer>
            <p>&nbsp;</p>
            <p style="text-align:center;"><a href="#top">TOP</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </footer>
    </body>
</html>