<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>証券管理 (Stocks)</title>
 <link rel="stylesheet" href="/css/default.css" />
 <style>
 .menu {
    text-align:center;
    padding:8px;
  }
  .msg {
    text-align:center;
    color:magenta;
    padding:10px;
  }
 </style>
</head>


<body>
 <h1>証券管理 (Stocks)</h1>
 <div class="menu">
  <a href="/cgi/index.html">HOME</a>
  &nbsp;/&nbsp;
  <a href="input.cgi">データ入力</a>
  &nbsp;/&nbsp;
  <a href="modify.cgi" target="_blank">データ修正</a>
 </div>
 <br />
 <p class="msg">(*message*)</p>
 <table>
 <tr><th>id</th><th>日付</th><th>株コード</th><th>数量</th><th>現在値</th><th>取得値</th><th>取得日</th><th>管理会社</th><th>備考</th></tr>
 (*content*)
 </table>

<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
