/* style1.less */
a:link,
a:visited {
  color: #0000ff;
  text-decoration: none;
}
body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: mintcream;
  color: darkslateblue;
}
h1 {
  color: maroon;
  text-align: center;
}
h2 {
  color: purple;
  margin-left: 5px;
}
h3 {
  color: darkolivegreen;
  margin-left: 15px;
  margin-top: 4px;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

h4 {
  color: darkcyan;
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

h5 {
  color: darkred;
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.div0 {
  border: solid thin teal;
  padding: 4px;
}
.div1 {
  border: solid thin cornflowerblue;
  padding: 4px;
}
.tbdr {
  border: solid thin dimgray;
  border-collapse: collapse;
}

table, th, td {
  border: solid thin gray;
  border-collapse: collapse;
}

th {
  background-color: #f0f0f0;
  padding: 4px;
}

td {
  padding: 3px;
  font-size: smaller;
  background-color: white;
}

table {
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.sample {
  border: solid thin gray;
  padding: 4px;
  font-size: small;
  background-color: white;
}

blockquote {
  color: indianred;
}

ul {
  margin-left:5%;
}

pre {
  margin-left:10px;
  margin-right:10px;
  border:solid thin gray;
  background-color:white;
  padding:4px;
}
