/* greentea.css */
body {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #e8f0d0;
  color: #445544;
}

h1.top {
  color: green;
  padding: 8px;
  text-align: center;
  border-bottom-color: #448866;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

h2.top {
  color: #446622;
  padding: 4px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: green;
  background-color: #e0f0d0;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #005533;
}

h2 {
  color: #446622;
  padding: 4px;
}

h3 {
  color: #777722;
  padding: 4px;
  border-bottom-color: #448866;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-left-color: #778866;
  border-left-style: solid;
  border-left-width: 10px;
}

h4 {
  color: #557733;
  text-decoration: underline;
}

pre.code {
  color: black;
  margin-left: 5%;
  margin-right: 15px;
  padding: 5px;
  border-color: gray;
  border-style: dotted;
  border-width: 1px;
  font-size: small;
  background-color: snow;
  overflow-x: auto;
}

blockquote {
  color: black;
}

div.body {
  background-color: #f8f8f0;
  padding: 6px;
}


div.doc {
  background-color: #f8f8f8;
  padding: 5px;
  margin-left:10px;
  margin-right:10px;
}

span.emp {
  font-weight: bold;
  color: #337733;
}

a:link, a:visited {
  color: darkcyan;
  text-decoration: none;
}

p.img {
  padding: 5px;
  margin-left: 10%;
}

img {
  border-left: solid 1px black;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  border-right: solid 1px gray;
}

li {
  font-size: small;
}

li.m {
  font-size: 12pt;
}

table {
  border-style: solid;
  border-width: 1px;
  border-color: #406622;
  border-collapse: collapse;
  padding :4px;
}

td {
  border-style: solid;
  border-width: 1px;
  border-color: #406622;
  border-collapse: collapse;
  padding :4px;
  font-size: small;
  background-color: snow;
}

th {
  border-style: solid;
  border-width: 1px;
  border-color: #406622;
  border-collapse: collapse;
  background-color: #f0f8dd;
  padding :4px;
}


dt {
  font-weight: bold;
  color: #55bb22;
  margin: 4px;
}

dd {
  border-style: dotted;
  border-width: 1px;
  border-color: gray;
  padding: 3px;
}

button,input[type=button],input[type=submit],input[type=reset] {
  border-radius: 3px;
  text-shadow: 0 -1px 1px #fff, -1px 0 1px #fff, 1px 0 1px #aaa;
  box-shadow: 1px 1px 2px #e7e7e7;
}
