<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>(*title*)</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
   <h1>(*title*)</h1>
   <div class="menubar"><a href="/">ホーム</a>&nbsp;|&nbsp;<a href="javascript:window.close()">閉じる</a>
     &nbsp;|&nbsp;<a href="modify_app.cgi" target="_blank">追加・修正</a>
   </div>
   <br />
   <p class="message">(*message*)</p>
   <br />
   <table>
     <tr><th>id</th><th>名前</th><th>パス</th><th>インタプリタ</th><th>OS</th><th>情報</th><th>詳細</th><th>パス２</th><th>タグ</th><th>日付</th></tr>
     (*content*)
   </table>
   <p>&nbsp;</p>
   <p style="text-align:center;"><a href="#top">TOP</a></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
  </body>
</html>
