<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>コマンド情報の追加・修正</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery.min.js"></script>
    <script>
      $(() => {
        $("#btnConfirm").click(() => {
          let id = $("#id").val();
          if (id == "") {
            alert("id が空欄です。");
            return;
          }
          location.href = "/cgi-bin/Apps/modify_app.cgi?confirm=" + id;
        });

        $("#btnClear").click(() => {
          $("#id").val("");
          $("#title").val("");
          $("#path").val("");
          $("#interpreter").val("");
          $("#info").val("");
          $("textarea").val("");
        });
      });
    </script>
  </head>

  <body>
   <h1>コマンド情報の追加・修正</h1>
   <div class="menubar"><a href="/">ホーム</a>&nbsp;|&nbsp;<a href="javascript:window.close()">閉じる</a>
   </div>
   <br />
   <p class="message">(*message*)</p>
   <br />
   <form method="POST" style="margin-left:5%;">
     <div class="form_row">id<br /><input type="number" name="id" id="id" size="10" value="(*id*)" /></div>
     <div class="form_row">名前<br /><input type="text" name="title" id="title" size="100" value="(*title*)" /></div>
     <div class="form_row">パス<br /><input type="text" name="path" id="path" size="150" value="(*path*)" /></div>
     <div class="form_row">インタプリタ<br /><input type="text" name="interpreter" id="interpreter" size="20" value="(*interpreter*)" /></div>
     <div class="form_row">OS<br /><input type="text" name="platform" id="platform" size="20" value="(*platform*)"  readonly /></div>
     <div class="form_row">情報<br /><input type="text" name="info" id="info" size="150" value="(*info*)" /></div>
     <div class="form_row">詳細<br /><textarea name="description" id="description" cols="120" rows="10" style="border-radius:4px;">(*description*)</textarea></div>
     <div class="form_row">パス２<br /><input type="text" name="path2" id="path2" size="150" value="(*path2*)" /></div>
     <div class="form_row">タグ<br /><input type="text" name="tag" id="tag" size="10" value="(*tag*)" /></div>
     <div style="margin-top:20px;">
       <input type="submit" name="btnSubmit" id="btnSubmit" value=" 送信 " />
       <input type="button" name="btnConfirm" id="btnConfirm" value=" データ確認 " />
       <input type="button" name="btnClear" id="btnClear" value=" クリア " />
     </div>
   </form>
   <p>&nbsp;</p>
   <p style="text-align:center;"><a href="#top">TOP</a></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
  </body>
</html>