<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ファイル・ディレクトリ存在確認</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
        div.app {
            border: solid thin gray;
            padding: 12px;
            font-size: small;
            margin-left: 5%;
            margin-right: 5%;
        }
    </style>
  </head>

  <body>
    <!-- ヘッダー -->
    <h1>ファイル・ディレクトリ存在確認</h1>
    <div class="menu">
      <a href="javascript:window.close()"><img src="/img/close2.png"> 閉じる</a>
    </div>
    <br />
    <!-- フォーム -->
    <h2>ファイル・ディレクトリ存在チェック</h2>
    <div class="app" id="app1">
        <div class="form_row">
            対象テーブル<br />
            <ul style="list-style-type:none;padding:10px;border:solid thin gray;width:75%;margin-top:0px;">
                <li><input type="radio" v-model="table" value="pictures" /> Pictures</li>
                <li><input type="radio" v-model="table" value="videos" /> Videos</li>
            </ul>
        </div>
        <div class="form_row">
            範囲<br />
            <ul style="list-style-type:none;padding:10px;border:solid thin gray;width:75%;margin-top:0px;">
                <li><label><input type="checkbox" name="rangeAll" id="rangeAll" v-model="rangeAll" v-on:change="rangeAll_change" /> すべて</label></li>
                <li><label>開始 id <input type="number" name="startId" id="startId" v-model="startId" size="8" v-bind:disabled="disastart" /></label></li>
                <li><label>終了 id <input type="number" name="endId" id="endId" v-model="endId" size="8"  v-bind:disabled="disaend" /></label></li>
            </ul>
        </div>
        <div class="form_row">
            <input type="button" id="btnOK" value=" 実行する " v-on:click="btnOK_click" />
        </div>
        <br />
        <p class="message" v-text="message"></p>
        <br />
        <ol v-html="items"></ol>
    </div>

    <!-- コード -->
    <script>
        var app1 = new Vue({
            el: "#app1",
            data: {
                table: 'pictures',
                rangeAll: true,
                startId: 1,
                endId: 1000000,
                disastart: true,
                disaend: true,
                message: "",
                badpaths: [],
                items: ""
            },
            methods: {
                btnOK_click: async () => {
                    if (app1.startId == "" || app1.endId == "") {
                        alert("id 範囲指定が空欄です。");
                        return;
                    }
                    if (isNaN(parseInt(app1.startId))) {
                        alert("id 範囲指定（開始）が不正です。")
                        return;
                    }
                    if (isNaN(parseInt(app1.endId))) {
                        alert("id 範囲指定（終了）が不正です。")
                        return;
                    }
                    if (parseInt(app1.endId) < parseInt(app1.startId)) {
                        alert("id 範囲指定が不正です。(start > end) ")
                        return;
                    }
                    app1.message = "";
                    app1.items = "";
                    badpaths = [];
                    let range = app1.rangeAll ? "1-1000000" : app1.startId + "-" + app1.endId;
                    let tableName = app1.table.charAt(0).toUpperCase() + app1.table.slice(1);
                    if (confirm("テーブル行数が多い場合、時間がかかることがあります。実行しますか？")) {
                        app1.message = "実行中！ しばらくお待ちください。";
                        let p = (await fetch(`/tools/check_paths?table=${tableName}&range=${range}`)).text();
                        p.then((bp) => {
                            app1.badpaths = JSON.parse(bp);
                            if (app1.badpaths.length == 0) {
                                app1.message = "OK: チェックが終わりました。"
                            }
                            else {
                                app1.items = "";
                                app1.message = "Error: 不正なパスが " + app1.badpaths.length + " 件が見つかりました。";
                                for (let bpath of app1.badpaths) {
                                    app1.items += `<li>(id: ${bpath.id}) ${bpath.path}</li>\n`;
                                }    
                            }
                        }).catch(err => app1.message = err.message);
                    }
                    else {
                        app1.message = "実行を取り消しました。";
                    }
                },
                rangeAll_change: () => {
                    app1.disastart = app1.rangeAll;
                    app1.disaend = app1.rangeAll;
                }
            }
        });
    </script>

    <!-- フッター -->
    <p>&nbsp;</p>
    <p style="text-align:center;"><a href="#">TOP</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>    
  </body>
</html>