<!doctype html>
<html lang="ja_jp">
<head>
<meta charset="utf-8" />
<title>MySQL-IS query</title>
<link rel="stylesheet" href="/css/style.css" />
<style>
td {
  padding:3px;
  font-size:10pt;
}
.form_row {
  padding:5px;
}
input[type="submit"] {
  border-radius: 4px;
  background-color: lime;
  height: 32px;
}
input[type="button"] {
  border-radius: 4px;
  background-color: yellow;
  height: 32px;
}
.help {
  font-size:11pt;
  margin-left: 5%;
}
</style>
<script src="/js/jquery.min.js"></script>
<script>
$(function() {
  $('#clear').click(function() {
    $('#sql').val('');
  });
});

// ヘルプの表示・非表示
function showhelp() {
  vis = ($('#help').css('visibility') == 'visible');
  if (vis) {
    $('#help').css('visibility', 'hidden');
    $('#linkhelp').text('ヘルプを表示する。');
  }
  else {
    $('#help').css('visibility', 'visible');
    $('#linkhelp').text('ヘルプを表示しない。');
  }
}
</script>
</head>

<body>
<div style="margin-left:5%;margin-right:5%;">
<h1><span style="color:blue;">MySQL-IS query</span> <span style="font-size: 18pt">by Python3</span></h1>
<div class="menubar">
  <a href="/">HOME</a>&nbsp;/&nbsp;
  <a href="index.cgi">もどる</a>&nbsp;/&nbsp;
  <a href="history.cgi" target="_blank">履歴を開く</a>&nbsp;/&nbsp;
  <a href="showHtml.cgi?html=sqlhelp.html&anchor=select" target="_blank">SQL のヘルプ</a>&nbsp;/&nbsp;
  <a href="javascript:showhelp();" id="linkhelp">ヘルプを表示しない</a>
</div>
<br />
<div style="text-align:center;color:indianred;">現在のユーザとスキーマは (*userid*), (*schema*) です。</div>
<form method="POST">
 <div class="form_row"><label>SQL (SELECT 文) を入力します。<br />
  <textarea name="sql" id="sql" style="width:90%;height:200px;">(*sql*)</textarea></div>
 <div class="form_row" style="text-align:center;">
   <input type="submit" name="submit" value=" 実行 " />&nbsp;
   <input type="button" id="clear" value=" クリア " />&nbsp;
   <label><input type="checkbox" id="history" name="history" value="history" (*history*) /> 履歴を有効にする。</label>&nbsp;&nbsp;&nbsp;&nbsp;<label>情報： <input type="text" name="info" size="80" style="border-radius:5px;height:25px;" /><label>
 </div>
</form>
<br />
<div id="help" class="help">
<h3>ヘルプ</h3>
<ul>
<li>(注意) SELECT 文以外は実行できません。</li>
<li>「履歴を有効にする」をチェックすると履歴が保存されます。</li>
<li>「情報」の内容は、履歴の一部として保存されます。</li>
<li>SQL の文法は <a href="showHtml.cgi?html=sqlhelp.html&anchor=select" target="_blank">SQL ヘルプ</a>を参照。</li>
</ul>
</div>
<br />
</div>
<p>&nbsp;</p>
<div style="margin-left:5%;">(*result*)</div>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</html>
