<!doctype html>
<head>
 <meta charset="utf-8" />
 <title>クレジットカード管理　グラフ</title>
 <link rel="stylesheet" href="/css/default.css" />
 <link rel="stylesheet" href="/js/jqplot/jquery.jqplot.min.css" />
 <script src="/js/jqplot/jquery.min.js"></script>
 <script src="/js/jqplot/jquery.jqplot.min.js"></script>
 <style>
  select {
    border-radius:4px;
    width:100px;
    height:25px;
  }
  input[type="submit"] {
    border-radius:5px;
    background-color:lime;
    height:32px;
  }
 </style>
 <script>
  $(document).ready(function() {
    $.jqplot('chartdiv', (*data*));
  });
 </script>
</head>

<body>
<h1>クレジットカード管理 グラフ</h1>
<div style="text-align:center;padding:8px;"><a href="/">HOME</a>&nbsp;/&nbsp;<a href="index.cgi">もどる</a></div>
<br />
<p style="text-align:center;padding:15px;">1カ月の平均利用額 (*average*)円</p>
<form method="GET" style="margin-left:25%;">
<div>表示する年　<select name="year">
 <option>2018</option>
 <option>2019</option>
 <option>2020</option>
 <option>2021</option>
</select>
&nbsp;<input type="submit" value="表示する" />
</div>
</form>
<br />

<div id="chartdiv" style="height:400px;width:800px;margin-left:10%;width:80%;"></div>
<br />
<p style="text-align:center;color:magenta;">(*message*)</p>
<p style="text-align:center;">縦軸の単位は100円。</p>
</body>
</html>
