<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>クレジットカード管理</title>
 <link rel="stylesheet" href="/css/default.css" />
 <style>
  input[type="text"] {
    border-radius:4px;
    height:25px;
  }
  input[type="submit"] {
    border-radius:5px;
    background-color:lime;
    height:32px;
  }
  table, td {
    border-width:0px;
  }
 </style>
</head>

<body>
<h1>クレジットカード管理((*card*)) データ入力・修正</h1>
<div style="text-align:center;padding:8px;"><a href="/cgi/index.html">CGI Index</a>&nbsp;/&nbsp;<a href="index.cgi">もどる</a></div>
<br />

<p style="text-align:center;">(注意) 修正の場合、空欄の項目は変更されません。引落日は空欄にはできません。</p>
<br />
<form method="POST" style="margin-left:25%;">
  <table>
    <tr><td>引落日 (yyyy-mm-dd)</td><td><input type="text" name="date" size="20" placeholder="yyyy-mm-dd" /></td></tr>
    <tr><td>支払金額 (,があってもよい)</td><td><input type="text" name="payment" size="20" /></td></tr>
    <tr><td>備考 (空欄可)</td><td><input type="text" name="info" size="80" /></td></tr>
    <tr><td>新規・修正</td><td><input type="radio" name="operation" value="1" checked />新規&nbsp;<input type="radio" name="operation" value="0"/>修正</td></tr>
    <tr><td></td><td><input type="submit" name="submit" value="　送信　" /></td></tr>
  </table>
</form>
<br />
<p style="text-align:center;color:magenta;">(*message*)</p>
</body>
</html>
