<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>MySQL Videos テーブル</title>
<link rel="stylesheet" href="/css/default.css" />
</head>

<body style="margin-left:5%;margin-right:5%">
<h1 style="text-align:center;color:mediumvioletred;padding:10px;">MySQL Videos テーブル</h1>
<p style="margin-left:10%;"><a href="/cgi">CGI Index</a>&nbsp;/&nbsp;<a href="modify.cgi">追加・修正ページ</a>&nbsp;/&nbsp;<a href="filter.cgi">フィルタ設定</a></p>
<br />
<table style="width:95%">
<tr><th>id</th><th>title</th><th>path</th><th>creator</th><th>series</th><th>mark</th><th>info</th><th>fav</th><th>count</th></tr>
(*result*)
</table>
<br />
<p style="text-align:center;color:blue;">
(*message*)
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
