<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>ビデオ表示</title>
<link rel="stylesheet" href="/css/style.css" />
<style>
</style>
<script src ="/js/jquery.min.js"></script>
<script>
</script>
</head>

<body style="margin-left:5%;margin-right:5%">
<h1 style="text-align:center;color:mediumvioletred;padding:10px;">(*title*)</h1>
<p style="margin-left:10%;"><a href="/">HOME</a>&nbsp;/&nbsp;<a href="index.cgi">データの一覧表示</a></p>
<br />
<br />
<!-- ふつうのビデオの時 -->
<video id="player1" preload="none" autoplay loop controls muted style="display:(*display0*)">
   <source src="(*path*)" />
</video>
<!-- gif アニメのとき -->
<img src="getImage.cgi?path=(*path*)" style="display:(*display1*)" />
<p style="text-align:center;color:magenta;">
(*message*)
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
