<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width,initial-scale=1" />
 <title>File Download</title>
 <!-- BootstrapのCSS読み込み -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
 <!-- ヘッダー -->
 <header class="container">
  <h1 class="header-1 text-center p-5 bg-light border rounded bg-light border-warning"><img src="/img/PythonOld.png"> File Download</h1>
  <p class="text-center"><a href="index.cgi">HOME</a></p>
 </header>

 <!-- 本文 -->
 <article class="container">
  <form class="row" method="POST">
   <div class="mb-4"><label class="label-form-control">path
    <input type="text" name="path" class="form-control" size="100">
   </label></div>
   <div class="mb-5"><button type="submit" class="btn btn-primary">submit</button></div>
  </form>
 </article>

 <!-- フッター -->
 <footer class="container">
  <p class="text-center mt-4"><a href="#top">TOP</a></p>
  <p>&nbsp;</p>
 </footer>
 <!-- BootstrapのJS読み込み -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
