<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>削除ツール</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <style>
            div.app {
                border: solid thin gray;
                padding: 12px;
                font-size: small;
                margin-left: 5%;
                margin-right: 5%;
            }
        </style>
    </head>

    <body>
        <h1>削除ツール</h1>
        <div class="menu">
            <a href="javascript:window.close()"><img src="/img/close2.png"> 閉じる</a>&nbsp;&nbsp;
        </div>
        <br />
      
        <!-- Vue フォーム -->
        <h2>Pictures と派生テーブルからのデータ削除</h2>
        <div id="app1" class="app">
            <div class="form_row">
                <label>Pictures の削除対象 id (startId-endId のような書き方も可能)<br /><input type="text" v-model="id1" size="16" /></label>
            </div>
            <div class="form_row">
                <label><input type="checkbox" v-model="derived_table" value="true" /> 派生テーブルのデータも削除</label>
            </div>
            <div class="form_row">
                <label><input type="checkbox" v-model="bindata" value="true" /> BINDATA テーブルのデータも削除</label>
            </div>
            <div class="form_row">
                <input type="button"  id="button1" value=" 実行 " v-on:click="button1_click" />
            </div>
        </div>
        <br />

        <h2>Album の削除 (関連画像も含めて削除)</h2>
        <div id="app2" class="app">
            <div class="form_row">
                <label>削除するアルバムの id<br /><input type="text" v-model="id2" size="6" /></label>
            </div>
            <div class="form_row">
                <input type="button"  id="button2" value=" 実行 " v-on:click="button2_click" />
            </div>
        </div>

        <h2>PictureAlbum 画像データ削除</h2>
        <div class="app" id="app3">
            <div class="form_row">
                <label>PictureAlbum の削除対象 id<br /><input type="text" v-model="id3" size="6" /></label>
            </div>
            <div class="form_row">
                <input type="button"  id="button3" value=" 実行 " v-on:click="button3_click" />
            </div>
        </div>

        <!-- Vue スクリプト -->
        <script>
            // Pictures と派生テーブルからのデータ削除
            const URL1 = "/tools/deletePictures";
            var app1 = new Vue({
                el: "#app1",
                data: {
                    id1: "",
                    derived_table: "true",
                    bindata: "true"
                },
                methods: {
                    button1_click: () => {
                        if (app1.id1 == "") {
                            alert("エラー： id が空欄です。")
                        }
                        else {
                            $.getJSON(URL1, {"id":app1.id1, "derived_table":app1.derived_table, 'bindata':app1.bindata}, (msg) => {
                                alert(msg.message);
                            });    
                        }
                    }
                }
            });

            // アルバムの削除
            const URL2 = "/tools/deleteAlbum";
            var app2 = new Vue({
                el: "#app2",
                data: {
                    id2: ""
                },
                methods: {
                    button2_click: () => {
                        $.getJSON(URL2, {"id":app2.id2}, (msg) => {
                            alert(msg.message);
                        });
                    }
                }
            });

            // PictureAlbum のデータ削除
            const URL3 = "/tools/deletePictureAlbum";
            var app3 = new Vue({
                el: "#app3",
                data: {
                    id3: "",
                },
                methods: {
                    button3_click: () => {
                        $.getJSON(URL3, {"id":app3.id3}, (msg) => {
                            alert(msg.message);
                        });
                    }
                }
            });
        </script>
        <!-- フッター -->
        <p>&nbsp;</p>
        <p style="text-align:center;"><a href="#">TOP</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>    
    </body>
</html>