<!DOCTYPE html>
<head>
<!-- album.html  アルバム内容 -->
<meta charset="utf-8" />
<title>(*title*)</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
.content {
  margin-left:5%;
  margin-right:5%;
  padding:8px;
}
</style>
<script src="/js/jquery.min.js"></script>
<script>

</script>
</head>

<body>
<h1>(*title*)</h1>
<div class="menubar">
 <div style="display:inline-block;">
  <a href="/">HOME</a>&nbsp;/&nbsp;
  <a href="album.cgi">アルバム一覧</a>&nbsp;/&nbsp;
  <a href="modify_item.cgi">追加・修正</a>&nbsp;/&nbsp;
  <a href="filter.cgi">表示設定</a>
 </div>
</div>
<div class="message">
(*message*)
</div>
<br />
<table>
<tr><th>id</th><th>アルバム</th><th>タイトル</th><th>パス</th><th>作者</th><th>情報</th><th>お気に入り</th><th>イメージ</th></tr>
(*content*)
</table>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
