<!DOCTYPE html>
<head>
<!-- modify_album.html  アルバムの追加・修正 -->
<meta charset="utf-8" />
<title>(*title*)</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
.content {
  margin-left:5%;
  margin-right:5%;
  padding:8px;
}
</style>
<script src="/js/jquery.min.js"></script>
<script>
$(function() {
  $("#clear").click(function() {
    $('input[type="text"]').val('');
    $('#mark').val('Picture');
  });
});
</script>
</head>

<body>
<h1>(*title*)</h1>
<div class="menubar">
 <div style="display:inline-block;">
  <a href="/">HOME</a>&nbsp;/&nbsp;
  <a href="index.cgi">もどる</a>
 </div>
</div>
<br />
<div class="message">
(*message*)
</div>
<br />
<form style="margin-left:15%">
 <div class="form_row">
  <label>アルバム番号(id) (注意) 自動採番のため挿入時は空欄とする。<br />
  <input type="text" size="10" id="id" name="id" value="(*id*)" /></label>
 </div>
 <div class="form_row">
  <label>アルバム名<br />
  <input type="text" size="50" id="name" name="name" value="(*name*)" /></label>
 </div>
 <div class="form_row">
  <label>種別<br />
  <select name="mark" id="mark" style="width:120px;height:30px;">
    <option value="picture" (*picture*)>画像</option>
    <option value="music" (*music*)>音楽</option>
    <option value="video" (*video*)>動画</option>
    <option value="other" (*other*)>その他</option>
  </select>
  </label>
 </div>
 <div class="form_row">
  <label>情報<br />
  <input type="text" size="80" id="info" name="info" value="(*info*)" /></label>
 </div>
 <div class="form_row">
  <label>イメージリンク<br />
  <input type="text" size="10" id="bindata" name="bindata" value="(*bindata*)" /></label>
 </div>
 <div class="form_row">
  <label>グループ名<br />
  <input type="text" size="20" id="groupname" name="groupname" value="(*groupname*)" /></label>
 </div>
 <div class="form_row" style="margin-top:16px;">
  <input type="submit" name="submit" value=" 送信 " />&nbsp;
  <input type="submit" name="query" value=" データ確認 " />&nbsp;
  <input type="button" name="clear" id="clear" value=" クリア " />
 </div>
</form>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
