<!DOCTYPE html>
<head>
<!-- show_items.html  アルバム内容一覧 -->
<meta charset="utf-8" />
<title>(*title*)</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
td {
  padding:3px;
  font-size:10pt;
}
#table1 {
  margin-left:auto;
  margin-right:auto;
  (*table1*)
}
</style>
<script src="/js/jquery.min.js"></script>
<script>
function adjust_window() {
  $('img').css('width', '100%');
}
</script>
</head>

<body>
<h1 style="font-size:2.0em;">(*title*)</h1>
<div class="menubar">
 <div style="display:inline-block;">
  <a href="/"><img src="/img/home.png" /> HOME</a>&nbsp;/&nbsp;
  <a href="index.cgi"><img src="/img/tv_dark.png"> TOPページ</a>&nbsp;/&nbsp;
  <a href="listpics.cgi?id=(*album*)" style="(*display*)">サムネール表示</a>&nbsp;/&nbsp;
  <a href="show_items.cgi?id=(*album*)&pictures=1">一括表示</a>&nbsp;/&nbsp;
  <a href="show_detail.cgi?id=(*album*)">詳細表示</a>&nbsp;/&nbsp;
  <a href="modify_album.cgi">アルバムの作成・修正</a>&nbsp;/&nbsp;
  <a href="modify_item.cgi">画像の追加・修正</a>&nbsp;/&nbsp;
  <a href="javascript:adjust_window();">画像の幅をウィンドウに合わせる</a>
 </div>
</div>
<br />
<div class="message">
(*message*)
</div>
<br />
<table id="table1">
<tr><th>id</th><th>アルバム</th><th>タイトル</th><th>パス</th><th>作者</th><th>情報</th><th>お気に入り</th><th>イメージ</th></tr>
(*content*)
</table>
<div>
(*pictures*)
</div>


<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
