<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>MySQL Pictures テーブル</title>
<link rel="stylesheet" href="/css/default.css" />
</head>

<body style="margin-left:5%;margin-right:5%">
<h1 style="text-align:center;color:darkslateblue;padding:10px;">MySQL Pictures テーブル</h1>
<p style="margin-left:10%;">
  <a href="/cgi">CGI Index</a>&nbsp;/&nbsp;
  <a href="modify.cgi">追加・修正ページ</a>&nbsp;/&nbsp;
  <a href="filter.cgi">ワードフィルタ設定</a>&nbsp;/&nbsp;
  <a href="index.cgi?fav=yes">お気に入り</a>&nbsp;/&nbsp;
  <a href="mark.cgi">マーク種別指定</a>&nbsp;/&nbsp;
  <a href="query.cgi">詳細検索</a>&nbsp;/&nbsp;
  <a href="index.cgi?reverse=(*reverse*)">逆順</a>&nbsp;/&nbsp;
  <a href="index.cgi?page=first">最初</a>&nbsp;/&nbsp;
  <a href="index.cgi?page=prev">前頁</a>&nbsp;/&nbsp;
  <a href="index.cgi?page=next">次頁</a>&nbsp;/&nbsp;
  <a href="index.cgi?page=last">最後</a></p>
<p style="text-align:center;color:crimson;">(*filter*)</p>
<br />
<table style="width:95%">
<tr><th>id</th><th>title</th><th>creator</th><th>path</th><th>mark</th><th>info</th><th>fav</th><th>count</th></tr>
(*result*)
</table>
<br />
<p style="text-align:center;color:magenta;">
(*message*)
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
