<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>MySQL Pictures テーブル</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
table, th, td {
  border-width: 0px;
}

.message {
  text-align:center;
  color:magenta;
}

</style>
<script src="/js/jquery.min.js"></script>
<script>
function ajust_width() {
  $('img').css('width', '100%');
}
</script>
</head>

<body>
<h1 style="text-align:center;color:darkslateblue;padding:10px;">MySQL Pictures テーブル フォルダ内画像一覧</h1>
<p style="margin-left:10%;"><a href="/cgi">CGI Index</a>&nbsp;/&nbsp;<a href="index.cgi">もどる</a>&nbsp;/&nbsp;
<a href="javascript:ajust_width();">画像の幅をウィンドウに合わせる</a></p>
<br />
<h3>(*folder*)</h3>
<p class="message">(*message*)</p>
<div>
(*pictures*)
</div>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
