<!doctype html>
<html lang="ja_jp">
<head>
<meta charset="utf-8" />
<title>(*title*)</title>
<link rel="stylesheet" href="/css/style.css" />
<style>
td {
  padding:3px;
  font-size:10pt;
}
.result {
  font-size:16pt;
  font-weight:bold;
  margin-left:20%;
}
.message {
  text-align:center;
  color:magenta;
  font-size:14pt;
}
</style>
</head>

<body>
<div style="margin-left:5%;margin-right:5%;">
<h1><span style="color:blue;font-size:0.7em;">(*title*)</span> <span style="font-size: 18pt">by Python3</span></h1>
<div class="menubar">
  <a href="/">HOME</a>&nbsp;/&nbsp;
  <a href="javascript:window.close();">閉じる</a>&nbsp;/&nbsp;
  <a href="index.cgi">もどる</a>
</div>
<br />
<div class="message">(*message*)</div>
<p>&nbsp;</p>
<table>
<tr><th>id</th><th>日時</th><th>SQL</th><th>情報</th></tr>
(*result*)
</table>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</html>
