<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery.min.js"></script>
    <script>
      $(() => {
        $('#btnJump').click(() => {
          let jid = $('#jumpId').val();
          if (jid == "") {
            alert("id が空欄です。");
          }
          else {
            location.href = "/bindata/jump/" + jid;
          }
        });
      });
    </script>
  </head>

  <body>
    <h1><%= title %></h1>
    <div class="menu">
      <a href="javascript:window.close()"><img src="/img/close2.png" /> 閉じる</a>&nbsp;/&nbsp;
      <a href="/"><img src="/img/home.png" /> アルバム一覧</a>&nbsp;/&nbsp;
      <a href="/bindata"><img src="/img/refresh2.png" /> 表示リセット</a>&nbsp;/&nbsp;
      <a href="/bindata/modify_bindata" target="_blank"><img src="/img/form.png"> 情報の修正</a>&nbsp;/&nbsp;
      <a href="/bindata/reverse"><img src="/img/reverse2.png" /> 逆順で表示</a>&nbsp;/&nbsp;
      <a href="/bindata/first"><img src="/img/first.svg" /> 先頭</a>&nbsp;
      <a href="/bindata/prev"><img src="/img/prev.svg" /> 前へ</a>&nbsp;/&nbsp;
      <a href="/bindata/next">次へ <img src="/img/next.svg" /></a>&nbsp;
      <a href="/bindata/last">最後 <img src="/img/last.svg" /></a>&nbsp;/&nbsp;
      <span>id を指定 </span><input type="text" size="5" id="jumpId" /><input type="button" id="btnJump" value="SET" />
      &nbsp;/&nbsp;<a href="/tool.html" target="_blank"><img src="/img/tool2.png" /> ツール</a>
      &nbsp;/&nbsp;<a href="/help.html" target="_blank"><img src="/img/question2.png" /> ヘルプ</a>
    </div>

    <p class="message"><%= message %></p>

    <table style="width:96%;">
      <tr><th>id</th><th>イメージ</th><th>タイトル</th><th>オリジナルファイル</th><th>ファイルタイプ</th><th>情報</th><th>サイズ</th></tr>
    <% for (let row of results) { %>
      <tr>
      <% for (let i = 0; i < row.length; i++) { %>
        <td><%- row[i] %></td>
      <% } %>
      </tr>
    <% } %>
    </table>
    <p>&nbsp;</p>
    <p style="text-align:center;"><a href="#top">TOP</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </body>
</html>