<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>銀行預金管理</title>
 <link rel="stylesheet" href="/css/default.css" />
 <style>
 input[type="text"] {
   border-radius:4px;
   height:26px;
 }
 input[type="submit"] {
   border-radius:4px;
   background-color:lime;
   height:32px;
 }
 select {
   border-radius: 5px;
   height:26px;
 }
 </style>
</head>

<body>
<h1>銀行預金管理</h1>
<div style="text-align:center;">
<a href="/cgi/index.html">HOME</a>&nbsp;/&nbsp;
<a href="#summary">預金総額</a>&nbsp;/&nbsp;
<a href="input.cgi">入力・修正</a>&nbsp;/&nbsp;


<form method="GET" style="margin-top:40px;margin-bottom:20px">
<label>銀行 <select name="bank">
 <option value="0000">すべて</option>
 <option value="0009">三井住友銀行</option>
 <option value="0133">武蔵野銀行</option>
 <option value="0038">住信SBIネット銀行</option>
</select></label>　<label>期間(空欄は指定なし) <input type="text" name="span" size="16" placeholder="yymm-yymm" /></label>　<input type="submit" value="　設定　" />
</form>
</div>
<br />

<h2 style="text-align:center;">銀行別預金額</h2>
<table style="width:50%">
<tr><th>ID</th><th>日付</th><th>銀行</th><th>預金種別 </th><th>残高 (円)</th><th>備考</th></tr>
(*content*)
</table>
<br />
<p style="text-align:center;color:magenta;">(*message*)</p>
<br />

<!-- vw_balance -->
<h2 style="text-align:center;"><a id="summary"></a>預金総額</h2>
<table style="width:50%">
<tr><th>日付</th><th>預金総額 (円)</th><th>差額 (円)</th></tr>
(*content2*)
</table>
<p>&nbsp;</p>
<p style="text-align:center"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
