<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>銀行預金管理</title>
 <link rel="stylesheet" href="/css/default.css" />
 <style>
 table, td {
   border-width:0px;
 }
 .msg {
   text-align:center;
   color:magenta;
 }
 select {
   border-radius: 5px;
   height:26px;
 }
 input[type="text"] {
   border-radius:4px;
   height:26px;
 }
 input[type="submit"] {
   border-radius:4px;
   background-color:lime;
   height:32px;
 }
</style>
</head>

<body>
<h1>銀行預金管理 入力・修正</h1>
<div style="text-align:center;">
<a href="/cgi/index.html">HOME</a>&nbsp;/&nbsp;
<a href="index.cgi">もどる</a>
</div>
<br />

<form method="POST">
<table>
<tr><td>ID (修正の時のみ入力) </td><td><input type="text" name="id" size="8" /></td></tr>
<tr><td>日付 </td><td><input type="text" name="day" size="15" placeholder="yyyy-mm-dd" /></td></tr>
<tr><td>銀行</td><td><select name="bank" style="width:140px;">
 <option value="0009">三井住友銀行</option>
 <option value="0133">武蔵野銀行</option>
 <option value="0038">住信SBIネット銀行</option>
</select></td></tr>
<tr><td>預金種別</td><td><select name="deposit" style="width:140px;">
 <option value="0">普通(円)</option>
 <option value="1">外貨($)</option>
</select></td></tr>
<tr><td>残高</td><td><input type="text" name="balance" size="15" /></td></tr>
<tr><td>備考</td><td><input type="text" name="info" size="80" /></td></tr>
<tr><td></td><td><input type="submit" value=" 送信 " /></td></tr>
</table>
</form>

<p class="msg">(*message*)</p>

<p>&nbsp;</p>
</body>
</html>
