<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <title>Pixiv Clip 4</title>
 <link rel="stylesheet" href="/css/default.css" />
 <style>

 </style>
 <script>

 </script>
</head>

<body style="margin-left:4%;margin-right:4%;">
<h1>Pixiv Clip 4<span style="font-size:14pt;color:teal;"> by python3</span></h1>
<div class="menu" style="text-align:center;">
 <div style="display:inline-block;width:30%;">
  <a href="/">HOME</a>&nbsp;/&nbsp;
  <a href="modify.cgi">作品の追加・修正</a>&nbsp;/&nbsp;
  <a href="index.cgi?view=(*view*)">アイコン・詳細表示</a>
 </div>
 <form style="display:inline-block">
  <label>作者の検索：<input type="text" name="creator" size="20" /></label>
  <input type="submit" name="submit" value="検索" />
 </form>
</div>
<p class="message">(*message*)</p>
<div>
  <!-- 作者一覧 -->
 <table id="table1" style="margin-left:auto;margin-right:auto;">
  (*creators*)
 </table>
</div>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
