<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <title>Pixiv Clip 4 登録・修正</title>
 <link rel="stylesheet" href="/css/default.css" />
 <style>
   form {
     margin-left:15%;
   }
 </style>
 <script src="/js/jquery.min.js"></script>
 <script>
  $(function() {
    $('#clear').click(function() {
      $('input[type="text"]').val('');
    });
  });
 </script>
</head>


<body>
<h1>作品の追加・修正</h1>
<div class="menu" style="text-align:center;">
 <a href="/">HOME</a>&nbsp;/&nbsp;
 <a href="index.cgi">もどる</a>
</div>
<br />

<form method="POST">
 <div class="form_row"><label>Id (空欄の場合は挿入)<br />
   <input type="text" name="id" size="10" value="(*id*)" /></label></div>
 <div class="form_row"><label>タイトル (必須)<br />
   <input type="text" name="title" size="100" value="(*title*)" /></label></div>
 <div class="form_row"><label>作者 (必須)<br />
  <input type="text" name="creator" size="50" value="(*creator*)" /></label></div>
 <div class="form_row"><label>イラスト番号 (必須)<br />
  <input type="text" name="illust" size="15" value="(*illust*)" /></label></div>
 <div class="form_row"><label>オリジナル作品 (例) Sword Art Online<br />
  <input type="text" name="original" size="50" value="(*original*)" /></label></div>
 <div class="form_row"><label>カテゴリータグ<br />
  <input type="text" name="tags" size="100" value="(*tags*)" /></label></div>
 <div class="form_row"><label>イメージ番号<br />
  <input type="text" name="bindata" size="20" value="(*bindata*)" /></label></div>
 <br />
 <div class="form_row">
  <input type="submit" name="submit" value=" 送信 " />&nbsp;
  <input type="submit" name="query" value=" データ確認 " />&nbsp;
  <input type="button" name="clear" value=" クリア " />
 </div>
</form>
<br />
<p class="message">(*message*)</p>
<p>&nbsp;</p>
<p style="text-align:center;"><a href="#top">TOP</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
