<!doctype html>
<html lang="ja-jp">
<head>
<meta charset="utf-8" />
<title>MySQL Music テーブル</title>
<link rel="stylesheet" href="/css/default.css" />
<style>
table, th, td {
  border-width: 0px;
}

input[type="submit"] {
   background-color:lime;
   border-radius:4px;
   height:32px;
}

input[type="text"] {
   border-radius:4px;
   height:22px;
 }

</style>
</head>

<body style="margin-left:5%;margin-right:5%">
<h1 style="text-align:center;color:crimson;padding:10px;">MySQL Music テーブル ワードフィルタ設定</h1>
<p style="margin-left:10%;"><a href="/">HOME</a>&nbsp;/&nbsp;<a href="modify.cgi">追加・修正ページ</a>&nbsp;/&nbsp;<a href="index.cgi">もどる</a></p>
<br />
<form method="POST" action="index.cgi">
<table>
<tr><td>フィルタ</td><td><input type="text" name="filter" size="100" /></td></tr>
<tr><td></td><td><input type="submit" value="　設定　" style="margin-left:10%;" /></td></tr>
</table>
</form>
<br />
<p style="text-align:center;color:blue;">
(*message*)
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
